<!DOCTYPE html>
html(class="no-js" lang="en")
  head
    title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")

  body
    .container-wrapper
      .container
        .sidebar
          .switches
            .toggle
              input(type='checkbox')
              span.button
              span.label ON
            .toggle
              input(type='checkbox', checked='')
              span.button
              span.label OFF
            .toggle
              input(type='checkbox')
              span.button
              span.label ALL
          ul
            li(id="item-0")
              .status-bar(data-status="offline")
              h4
              img
            li(id="item-1")
              .status-bar(data-status="offline")
              h4
              img
            li(id="item-2")
              .status-bar(data-status="offline")
              h4
              img
            li(id="item-3")
              .status-bar(data-status="offline")
              h4
              img
            li(id="item-4")
              .status-bar(data-status="offline")
              h4
              img
            li(id="item-5")
              .status-bar(data-status="offline")
              h4
              img
            li(id="item-6")
              .status-bar(data-status="offline")
              h4
              img
        .content
          .content-header
          .content-body
            .online-content
              button.btn-watch(class="btn" onclick="#")
                span.btn-watch-text Watch Now
                i(class="glyphicon glyphicon-new-window")
              h4.game
            .offline-content
              button.btn-off(class="btn")
                span.btn-off-text Channel Offline

  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="js/main.js")
