@import 'variables/colors.sass'

.content-header
  background-image: url("/img/banner.jpeg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  height: 146px
  width: auto

.content-body
  background: url("/img/bg-offline.jpeg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  height: 414px
  width: auto

.content-body h4
  margin-top: 0
  margin-left: 16px
  padding-top: 16px
  color: white
