@import 'variables/colors.sass'

.content-header
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  height: 159px
  width: auto

.content-header h4
  margin-top: 0

.content-body
  text-align: center
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  height: 425px
  width: auto
  display: flex
  flex-direction: column
  align-items : center
  justify-content : center

.offline-content
  display: none

.online-content
  display: none

.btn-watch, .btn-off
  background-color: $base
  width: 250px
  height: 80px

.btn-watch span, .btn-off span
  color: #3E4041
  vertical-align: middle
  font-size: 22px
  font-weight: 100

.btn-off
  pointer-events: none

.glyphicon
  color: #3E4041
  vertical-align: middle
  font-size: 28px
  margin-left: 18px

.game
  background-color: $base
  color: #3E4041
  padding: 4px
  border-radius: 2px
  width: 100%
  font-size: 14px
