.sidebar ul
  list-style: none
  padding: 0
  overflow: auto
  width: 280px
  background-color: #64459B

.sidebar li
  width: 280px
  height: 70px
  &:hover
    background-color: #8F0B8F
    h4
      margin-left: 28px

.sidebar li h4
  transition: margin-left 0.3s ease
  font-size: 15px
  color: #DCCAFF
  float: left
  line-height: 50px
  margin-left: 16px

.sidebar li img
  margin: 10px 10px
  float: right
  height: 50px
  width: 50px

.sidebar li .clear
  clear: both
