@import 'variables/colors.sass'

.sidebar ul
  background-color: $base
  list-style: none
  padding: 0
  background-color: $base
  overflow: hidden
  height: 472px

.sidebar li
  display: flex
  align-items: center
  flex-direction: row
  width: 260px
  height: 12.5%
  &:after
    content: ''
    display: table
    clear: both
  &:hover
    h4
      margin-left: 32px
    img
      transform: scale(1.15)

.sidebar li h4
  flex: 80
  cursor: default
  user-select: none
  transition: all 0.3s
  font-size: 16px
  color: $base-light
  font-weight: 600
  margin-left: 18px

.sidebar li img
  transition: all 0.3s
  height: 80%
  margin: 0 5%
  width: auto

.status-bar
  flex: 2
  margin-right: 6px
  background-color: #F42206
  height: 80%
  border-radius: 10px
