@import 'variables/colors.sass'

.sidebar ul
  list-style: none
  padding: 0
  max-width: 260px
  background-color: $base

.sidebar li
  width: 260px
  height: 70px
  &:after
    content: ''
    display: table
    clear: both
  &:hover
    h4
      margin-left: 32px
    img
      transform: scale(1.15)

.sidebar li h4
  cursor: default
  user-select: none
  transition: all 0.3s
  font-size: 16px
  color: $base-light
  float: left
  font-weight: 600
  line-height: 50px
  margin-left: 18px

.sidebar li img
  transition: all 0.3s
  margin: 10px 10px
  float: right
  height: 50px
  width: 50px

.status-bar
  margin-right: 2px
  margin-top: 5px
  background-color: #F42206
  width: 4px
  height: 60px
  float: right
